= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg
  .form-group       
    .field
      = f.label :url
      = f.text_field :url, :class => "form-control"
  .form-group
    .field
      = f.label :title
      = f.text_field :title, :class => "form-control"
  .form-group
    .field
      = f.label :category
      = f.collection_select :category_id, Category.all, :id, :name

    .actions
      = f.submit 'Save', :class => 'btn btn-default'
