%h1 Listing feeds


%table
  %tr
    %th Url
    %th Title
    %th Category
    %th Last updated
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= feed.url
      %td= feed.title
      %td= feed.category.name
      %td= feed.last_updated
      %td= link_to 'Show', feed
      %td.subscribe= link_to 'follow', new_subscription_path
      %td= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= paginate @feeds_pagination

= link_to 'New Feed', new_feed_path
