
.jumbotron
  %h1 Welcome to Reader!
  %p Subscribe to your favourite feeds and keep up to date with the latest news

%h1.index_title Available feeds

- @feeds.each do |feed|
  .col-sm-6.col-md-4
    .thumbnail
      -if feed.image.present?
        =image_tag feed.image, :class => "feed_images"
      -else
        =image_tag "rss_icon.png", :class => "feed_images_default feeds_image"
        .caption
          %h3= feed.title
          %p= feed.description
          = link_to 'Show', feed, :class => "btn btn-primary", :role => "button"
          = link_to 'Delete', feed, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }

          -if is_user_subscribed?(feed)
            -subs_id = get_subscription_id(feed)
            %a.btn.btn-danger.unsubscribe{:data => {:id => subs_id}} Unsuscribe
            
          -else
            = link_to 'Subscribe', new_subscription_path, :class => "btn btn-success subscribe", :data => {:id => feed.id}

= paginate @feeds_pagination


= link_to 'New Feed', new_feed_path
