
%h1.index_title Articles

%button#show-pages.btn.btn-default Toggle view

.blockview
  =render 'blockview'

.listview.hide-elements
  =render 'listview'
 

%br
/ #paginator
/   = paginate @articles_pagination
- @articles.each do |article|
  %div{id: "myModal#{article.id.to_s}", class: "modal fade", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %h4= link_to article.title, article.url, :target => "_blank"
        .modal-body 
          -if article.image.present?
            =image_tag article.image, :class => "feed_images"
          -else
            =image_tag "rss_icon.png", :class => "feed_images_default"
          %p= article.summary
          %p
            Published:
            = article.published
        .modal-footer
          = link_to 'Bookmark', new_articles_user_path, :class => "btn btn-info bookmark", :role => "button", :data => {:id => article.id}
          / %a.twitter-share-button{:href => "https://twitter.com/share"} Tweet

/ = link_to 'Edit', edit_feed_path(@feed)
/ \|
/ = link_to 'Back', feeds_path

