
- @articles_pagination.each do |article|
  .article_box
    -if article.image.present?
      =image_tag article.image, :class => "feed_images"
    -else
      =image_tag "rss_icon.png", :class => "feed_images_default"
    %h3= link_to article.title, article.url
    %p= article.summary
    %br/
    %p
      Published:
      = article.published 
    #list_button_container
      = link_to 'Delete', article, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
      -if article.articles_users.present?
        -if article.articles_users.last.is_bookmarked == true
          = link_to 'Remove', articles_user_path(article.articles_users.last), :class => "btn btn-warning", :method => :delete, :data => { :confirm => 'Are you sure?' }
        -elsif article.articles_users.last.is_bookmarked == false
          = link_to 'Bookmark', new_articles_user_path, :class => "btn btn-info bookmark", :role => "button", :data => {:id => article.id}
      -else
        = link_to 'Bookmark', new_articles_user_path, :class => "btn btn-info bookmark", :role => "button", :data => {:id => article.id}

