%h1 Articles


- @articles.each do |article|
  .col-sm-6.col-md-4
    .thumbnail
      -if article.image.present?
        =image_tag article.image, :class => "feed_images"
      -else
        =image_tag "rss_icon.png", :class => "feed_images_default"
        .caption
          %h3= article.title
          %p= article.summary
          = link_to 'Read', article, :class => "btn btn-primary", :role => "button"
          = link_to 'Delete', article, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
          = link_to 'Bookmark', new_bookmark_path, :class => "btn btn-info", :role => "button", :data => {:id => article.id}

%br

#paginator
  = paginate @articles_pagination

