%h1 Articles


- @articles_pagination.each do |article|
  .col-sm-6.col-md-4
    .thumbnail
      -if article.image.present?
        =image_tag article.image, :class => "feed_images"
      -else
        =image_tag "rss_icon.png", :class => "feed_images_default"
        .caption
          %h3= article.title
          %p= article.summary
          = link_to 'Read', article, :class => "btn btn-primary", :role => "button"
          = link_to 'Delete', article, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
          -if article.articles_users.present?
            -if article.articles_users.last.is_bookmarked == true
              = link_to 'remove', article, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
            -elsif article.articles_users.last.is_bookmarked == false
              = link_to 'bookmark', new_articles_user_path, :class => "btn btn-info bookmark", :role => "button", :data => {:id => article.id}
          -else
            = link_to 'bookmark', new_articles_user_path, :class => "btn btn-info bookmark", :role => "button", :data => {:id => article.id}

%br

#paginator
  = paginate @articles_pagination

