%h1 Listing articles
.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", "data-src" => "holder.js/300x300"}/
      .caption
        %h3 Thumbnail label
        - @articles.each do |article|
          %p= article.title
          %p= article.summary
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button

%table
  %tr
    %th Title
    %th Summary
    %th Url
    %th Entry
    %th Published
    %th Image
    %th feed id
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.summary
      %td= article.url
      %td= article.entry_id
      %td= article.published
      %td= article.image

      %td= link_to 'Show', article
      %td.bookmark= link_to 'bookmark', new_bookmark_path, :data => {:id => article.id}
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

#paginator
  = paginate @articles_pagination

