%p#notice= notice


%main  
  %h3.main
    %b
    = @article.title
  %p
    %b
  -if @article.image.present?
    =image_tag @article.image, :class => "feed_images"
  -else
    =image_tag "rss_icon.png", :class => "feed_images_default"
  %p
    %b Summary:
    = @article.summary
  %p
    %b Url:
    %a=@article.url
  %p
    %b Entry:
    =link_to @article.entry_id
  %p
    %b Published:
    = @article.published

  = link_to 'Back', articles_path, :class => "btn btn-danger"
