%h1 Listing subscriptions

- @subscriptions.each do | category, subs|
  .col-sm-6.col-md-4
    .thumbnail
      %p= category
      - subs.each do | subscription |
        -if subscription.feed.image.present?
          =image_tag subscription.feed.image, :class => "feed_images"
        -else
          =image_tag "rss_icon.png", :class => "feed_images_default feeds_image"
          .caption.feeds
            %h3= subscription.feed.title
            %p= subscription.feed.description
            = link_to 'Show', subscription.feed, :class => "btn btn-primary", :role => "button"
            = link_to 'Delete', subscription, :class => "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }
              
            -if is_user_subscribed?(subscription.feed)
              -subs_id = get_subscription_id(subscription.feed)
              %a.btn.btn-warning.unsubscribe{:data => {:id => subs_id}} Unsuscribe              
            -else
              = link_to 'Subscribe', new_subscription_path, :class => "btn btn-success subscribe", :data => {:id =>subscription.feed.id}

