%h1 Listing subscriptions

- @subscriptions_list.each do | category, subscriptions |
  %p
    = category
  %ul
    - subscriptions.each do | subscription |
      %li
        = subscription.feed.title
        = link_to 'Show', subscription
        = link_to 'Edit', edit_subscription_path(subscription)
        = link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New subscription', new_subscription_path