%h1 Listing subscriptions

%table
  %tr
    %th feed_id
    %th user_id
    %th
    %th
    %th

  - @subscriptions.each do |subscription|
    %tr.entries
      %td= subscription.feed_id
      %td= subscription.user_id
      %td= link_to 'Show', subscription
      %td= link_to 'Edit', edit_subscription_path(subscription)
      %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New subscription', new_subscription_path