%p#notice= notice

%p
  - @articles.each do |article|
    = link_to article.title, article.url
    %b Last updated:
    = article.published
    %b img:
    =image_tag article.image
    %br



= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path

