%p#notice= notice

%p
  - @articles.each do |article|
    - if article.image.present?
      =image_tag article.image, :class => "feed_images"
    - else
      =image_tag "rss_icon.png", :class => "feed_images"
    = link_to article.title, article.url
    %b Last updated:
    = article.published
    %br



= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path

