!!!
%html
  %head
    %title RssFeederApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

  %nav.navbar.navbar-default{:role => "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header

      %p.notice= notice
      %p.alert= alert
      - if user_signed_in?
        =image_tag current_user.image
        %br/
        Welcome #{current_user.name.split[0]}
        %br/
        = link_to "Edit profile", edit_user_registration_path
        %br/
        = link_to "Logout", destroy_user_session_path, method: :delete
        \|
        = link_to 'feeds', feeds_path
        \|
        = link_to 'articles', articles_path
      - else
        = link_to "Sign up", new_user_registration_path
        %br/
        = link_to "Login", new_user_session_path
        = link_to "Login with Google", user_omniauth_authorize_path(:google_oauth2)
        = link_to "Login with Twitter", user_omniauth_authorize_path(:twitter)





  = yield


